@use'variaveis';

.footer{
    margin-top:180px ;

    &__container{
        background-color:variaveis.$corPrimaria ;
        text-align: center;
        p{
            padding:25px;
            font-size: 14px;

            a{
                text-decoration: none;
                color: #000;
            }
        }
    }

}