@use 'variaveis';

.sinopse{
    margin-top: 240px;

    @media screen and (max-width:767px) {
        margin-top: 180px;
        padding: 0 10px;
    }
    @media screen and (min-width:768px) and  (max-width:1023px) {  
        padding: 0 20px;
    }
    
    
    &__container{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 25px;

        @media screen and (max-width:1023px) {
            display: block;
        }

        img{
            width: 100%;
            border-radius: 15px;
            
        }
        p{
            margin: 10px 0 ;
        }

    }


}